button,
.button
  background-color: var(--color-bg-button)
  color: var(--color-fg)
  border: 1px solid var(--color-bg-button)
  @extends .fs-4
  padding: 0.4rem 0.75rem
  outline: none
  border-radius: 4px
  line-height: 1.5