label
  display: block
  margin-bottom: 0.5rem
  @extends .fs-4

input,
select
  display: block
  width: 100%
  padding: 0.4rem 0.75rem
  background-color: var(--color-bg-a3)
  border: 1px solid var(--color-bg-a6)
  color: var(--color-fg)
  outline: none
  border-radius: 4px
  line-height: 1.5
  transition: .2s background-color
  @extends .fs-4
  &:hover
    background-color: var(--color-bg-a4)
  &:focus
    outline: 1px solid var(--color-link)
