body
  font-family: var(--system-font-stack)
  font-size: 16px

p
  margin: 0 0 var(--standard-spacing-unit)
  padding: 0

a
  text-decoration: none

h1, h2, h3, h4, h5, h6
  margin: 0 0 var(--standard-spacing-unit)
  font-weight: 600
  padding: 0

// sizes = 1.75rem 1.5rem 1.25rem 1rem 0.875rem 0.75rem

// for index in range(0,(length(sizes) - 1))
//   h{index},
//   .fs-{index}
//     font-size: sizes[index]
