.mb-0
  margin-bottom: 0

.mb-1
  margin-bottom: 10px

.mt-1
  margin-top: 10px

.pt-1
  padding-top: 10px

.as-center
  align-self: center

.mx-auto
  margin-left: auto
  margin-right: auto

.d-block
  display: block

.w-auto
  width: auto
