:root
  // Typography
  --system-font-stack: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif

  // Spacing
  --standard-spacing-unit: 1.25rem

  // Colors
  for i in Backgrounds
    --color-{i[0]}: i[1]

  for i in Foregrounds
    --color-{i[0]}: i[1]
